DISCORD_TOKEN=your.discord.token
GITHUB_TOKEN=your.github.token
GITHUB_OWNER=your.github.owner
GITHUB_REPO=your.github.repo
ANTHROPIC_API_KEY=your.anthropic.api.key
GEMINI_API_KEY=your.gemini.api.key
OPENROUTER_API_KEY=your.openrouter.api.key
GROQ_API_KEY=your.groq.api.key
DEEPSEEK_API_KEY=your.deepseek.api.key
GITHUB_TOKEN2=your.github.token2
FIGMA_TOKEN=your.figma.token
AI_PROVIDER=deepseek # or anthropic, gemini, openrouter, groq